body {
  font-family: sans-serif;
}

.app-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.column {
  width: 30%;
  padding: 0 20px;
  border-right: 2px solid green;
}

.column:last-child {
  border-right: none;
}

.item-details {
  margin-bottom: 20px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

h3, h4, p {
  margin: 5px 0;
}