.box {
  width: 300px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: top;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: sans-serif;
}


.box dt {
  font-weight: 500;
  color: #555;
  margin-top: 10px;
  font-weight: bold;
}

.box dd {
  margin-left: 30px;
  color: #333;
}
